.root {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 100;
}

#image-vbox {
    -fx-background-color: white;
    -fx-border-radius: 100;
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10, 5, 0, 0);
}


.label {
    -fx-opacity: 0.6;
}

#button-toBack {
    -fx-effect: dropshadow(three-pass-box, #545454, 10, 0, 3.5, 3.5);
}

/*
 * Setting-button CSS block
 */

#button-setting {
    -fx-border-radius: 0;
}

#button-setting:hover {
    -fx-border-radius: 0;
}

#button-setting:pressed, #button-setting:default:hover:pressed {
    -fx-border-radius: 0;
}

#button-setting:focused {
    -fx-border-radius: 0;
}

#button-setting:disabled, .button:default:disabled {
    -fx-border-radius: 0;
}
/*
 * Button-block close
 */

#button-up:pressed {
    -fx-border-color: #aaaaaa;
    -fx-background-color: #aaaaaa;
}

#button-up:focused {
    -fx-border-color: #cecece;
    -fx-background-color: #cecece;
}

.button {
    -fx-border-color: #ededed;
    -fx-border-radius: 30;
    -fx-border-width: 1.5;
    -fx-background-radius: 30;
    -fx-background-color: #fafafa;
    -fx-font-family: "Segoe UI", Helvetica, sans-serif;
    -fx-text-fill: #02547D;
}

.button:hover {
    -fx-background-color: #0284A8;
    -fx-border-color: #0284A8;
    -fx-text-fill: #f5f5f5;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #ededed;
    -fx-border-radius: 30;
    -fx-border-width: 2;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {

}
