.root {
    -fx-background-color: #18222d;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#root {
    -fx-background-color: #18222d;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#image-vbox {
    -fx-background-color: white;
    -fx-border-radius: 100;
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10, 5, 0, 0);
}


.label {
    -fx-opacity: 0.6;
    -fx-text-fill: white;
}

#button-toBack {
    -fx-opacity: 0.5;
}

/*
 * Setting-button CSS block
 */

#button-setting {
}

#button-setting:hover {

}

#button-setting:pressed, #button-setting:default:hover:pressed {

}

#button-setting:focused {
}

#button-setting:disabled, .button:default:disabled {

}

/*
 * Button-block close
 */

#button-up:pressed {
    -fx-border-color: #aaaaaa;
    -fx-background-color: #aaaaaa;
}

#button-up:focused {
    -fx-border-color: #cecece;
    -fx-background-color: #cecece;
}

.button {
    -fx-border-color: #283543;
    -fx-border-radius: 30;
    -fx-border-width: 1.5;
    -fx-background-radius: 30;
    -fx-background-color: #18222d;
    -fx-font-family: "Segoe UI", Helvetica, sans-serif;
    -fx-text-fill: white;
}

.text-field {
    -fx-border-color: #283543;
    -fx-background-color: #18222d;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #3c6996;
    -fx-border-color: #3c6996;
    -fx-text-fill: #f5f5f5;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #283543;
    -fx-border-radius: 30;
    -fx-border-width: 2;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {

}
